# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/.cmake/api/v1/reply/cache-v2-abdadceecf8292c5c666.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-abdadceecf8292c5c666.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-c9db365123b76d6f78cb.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-15T10-37-35-0961.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-15T11-56-27-0922.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/.cmake/api/v1/reply/cache-v2-abdadceecf8292c5c666.json
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeCache.txt
