# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/.cmake/api/v1/reply/cache-v2-abdadceecf8292c5c666.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-abdadceecf8292c5c666.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-c9db365123b76d6f78cb.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-15T10-37-35-0961.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-15T11-56-27-0922.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/.cmake/api/v1/reply/cache-v2-abdadceecf8292c5c666.json
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-fbde7550a640067fd957.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-fe01302f70f7d8f5f054.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-15T10-37-35-0961.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-15T15-08-13-0326.json
cmake-build-debug/.cmake/api/v1/reply/target-Assignment_3-Debug-76a2eecea68a5c8133af.json
cmake-build-debug/.cmake/api/v1/reply/target-Assignment_3-Debug-56f3d12b768415b6b92e.json
cmake-build-debug/build.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/build.ninja
CMakeLists.txt
cmake-build-debug/Testing/Temporary/LastTest.log
.idea/Assignment_3.iml
.idea/vcs.xml
